.option {
  position: absolute;
  display: flex;
  align-items: center;
  width: 93%;
  padding: 0px 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.option .star__icon {
  width: 13px;
  margin-right: 10px;
}

.option:hover {
  background-color: #3a393a;
}

.option__text {
  color: #d2d1d2;
  user-select: none;
}
